/* 1. Fuentes externas */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* 3. Tus estilos */
@import "./styles/main.css";

/* 2. Tailwind */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Montserrat", sans-serif;
}
